footer.footer(id="contacts")
  .container
    .footer__wrapper
      .footer__block
        .footer__copyright ©2019
      .footer__block
        ul.footer__nav
          li.footer__item
            a.footer__link(href="#") Home
          li.footer__item
            a.footer__link(href="#") Explore
          li.footer__item
            a.footer__link(href="#") Privacy Policy
          li.footer__item
            a.footer__link(href="#") Term & Conditions
          //li.footer__item
            a.footer__link(href="#") Term & Conditions
      .footer__block
        ul.footer__socials
          li.footer__socials-item
            a.footer__socials-link(href="#" target="_blank")
              img(src="img/icons/icon-fb.svg")
          li.footer__socials-item
            a.footer__socials-link(href="#" target="_blank")
              img(src="img/icons/icon-tw.svg")