header.header
  .container.header__wrapper
    .nav-toggle
      img.nav-toggle__img(src="img/nav-toggle.svg" alt="Nav icon")
    .header__block
      .logo
        a.logo__link(href="/")
          img.logo__img(src="img/logo.svg" alt="Logo")
    .header__block
      .nav
        .nav__wrapper
          .nav__item
            a.nav__link(href="#") Home
          .nav__item
            a.nav__link.nav__link--active(href="#") Explore
          .nav__item
            a.nav__link(href="#") My Campaigns
      .profile
        .profile__img-wrapper
          a.profile__link(href="#")
            img.profile__img(src="img/profile.png" alt="Profile photo")
