doctype html
html
  head
    title Test Page
    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
    block styles
      link(rel="stylesheet" href="css/style.css")
    block head-scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
      //script(src='assets/jquery.min.js')
  body
    block content
    block base-scripts
      //script(src='js/script-base.js')
    block custom-scripts